table{
    width: 50%;
    margin-top: 30px;
}

tr:hover{
    background-color: yellow;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    color: #04AA6D;
}

a:link{
    text-decoration: none;
}
